body{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    background: #9785d0;
    height: 100vh;
    overflow: hidden;
    background-image: url("Images/wallpaperflare.com_wallpaper.jpg");
    /* background-color: #9785d0; */
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(7px);
    /* color: white; */
}
.container{
    max-width: 600px;
    max-height: 580px;
    /* width: 100%; */
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #9785d9;
    opacity: 0.7;
    border: 2px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    z-index: -10;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.container .title{
    font-size: 33px;
    font-weight: 800;
    position: relative;
    text-align: center;
}
/* .container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #9b59b6;
} */
.container form .userDetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .userDetails .txt_field{
    width: 40%;
    /* margin-bottom: 15px; */
    /* self */
    position: relative;
    border-bottom: 2px solid #301934;
    margin: 30px 0;
}
.userDetails .txt_field .details{
    display: block;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 5px;
    /* selff */
}
.userDetails .txt_field input{
    height: 40px;
    width: 100%;
    /* outline: none; */
    /* border-radius: 5px; */
    outline: none;
    /* border-radius: 5px; */
    border: none;
    background: none;
    /* padding-left: 15px; */
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    /* selff */
}
.userDetails .txt_field label{
    position: absolute;
    top: 50%;
    /* left: 5px; */
    color: #301934;
    transform: translateY(-50%);
    font-size: 16px;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #301934;
    transition: 0.5s;
}
.txt_field input:focus~label,
.txt_field input:valid~label{
    transition: 0.5s;
    top: -5px;
    color: #301934;
}
.txt_field input:focus~label~span::before,
.txt_field input:valid~label~span::before{
    width: 100%;
}
/* .userDetails .txt_field input:focus,
.userDetails .txt_field input:valid{
    border-color: #9b59b6;
} */
form .genderDetails .genderTitle{
    font-size: 20px;
    font-weight: 500;
}
form .genderDetails .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
.genderDetails .category label{
    display: flex;
    align-items: center;
}
.genderDetails .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
#dot-1:checked ~.category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    border-color: #d9d9d9;
    background: #9b59b5;
}
form input[type="radio"]{
    display: none;
}
form .button{
    height: 45px;
    margin: 45px 0;
    /* justify-content: center; */
    text-align: center;
}
form .button input{
    height: 100%;
    width: 60%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #301934;
    transition: 0.2s;
}
form .button input:hover{
    background: #9b59b5;
    color: black;
}
.conditions{
    display: none;
}
.conditions .check{
    display: block;
    position: relative;
    margin: 4%;
    color: red;
    font-size: 13px;
    width: 100%;
}
.conditions i{
    margin-right: 10px;
}
#confirmPass{
    display: none;
}
@media(max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .userDetails .txt_field{
        margin-bottom: 15px;
        width: 100%;
    }
    form .genderDetails .category{
        width: 100%;
    }
} 
